/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* COMMON */

.app-container  {
    width: 100%;
    height: 100vh;
    background-color: bisque;
   
}
main {
    width: 100%;
    height: calc( 100vh - 110px );
    font-family: 'Fredoka One', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.flex {
    display: flex
}

footer {
    width: 100%;
    height: 110px;
    background-color: cadetblue;
    overflow: hidden;
}

/* MAIN */
.nav-left {
 width: 250px ;
 background-color: black;
 overflow-y: hidden;
 height: calc( 100vh - 110px );
 padding-right: 89px;
 display: flex;
 flex-direction: column;
 
}

.box-right {
    width: calc( 100% - 250px );
    overflow: auto;
}

.banner {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    width: calc( 100% - 250px );
    height: 70px;
    color: white;
    right: 0;
    top: 0;
}
.logo {
    
    padding: 10px;
    width: 144px;
}

.users {
    padding-left: 17px;
}

a {
    text-decoration: none;
    color: white;
}

li {
    padding:10px;
    vertical-align: middle;
}
 .home img {
    width: 14%;
    vertical-align: middle;
 }
 .playlist a {
     color: gray;
 }
 .home a {
     color: gray;
 }

h3 {
    padding:10px;
    color: white;
}
i {
    font-size: 40px;
    vertical-align: middle;
}
.playlist li {
    color: gray;
    padding: 9px;
    list-style-type: none;
}
.playlist {
    flex-grow: 1;
    
   
}
.list{
    list-style-type: none;
    color: gray;
    padding: 0 5px;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.main-container {
    width: 65%;
    margin: 0 auto;
    background-color: orange;
    padding-top: 75px; 
}
.box-right h3 {
    font-size: 25px;
}

.card {
    
    width: calc( ( 100% / 6)  - 4rem );
    height: 30px;
    border: 1px solid black;


}
.list {
    overflow-y: auto;
    height: 50%;
}
.dwnl-users {
    color: gray;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    width: 213px;
   

}


.name-users {
    color: white;
    padding: 10px;
}

.app {
    padding-left: 10px;
}
.app a {
    color: gray;
}

.dwnl-users img {
    width: 20px;
    color: gray;
}
.img-profile img {
    width: 20px;
    border-radius: 10%;
    color: white;
    padding-top: 5px;
}
.gre {
    border-left: 3px solid limegreen;
}